* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* body {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} */

/* .container {
    height: 500px;
    width: 500px;
    background-color: lightcyan;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
} */

.container p {
    text-align: start;
    font: 30px bold;
}

h1 {
    align-items: center;
    padding: 10px;
    font-size: 20px;
}

button {
    height: 35px;
    width: 15%;
    margin-bottom: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-family: arial;
    font-size: large;
    transition: .2s all ease-in-out;
}
